.MainFibra {
  border-radius: 4px;
}

.MainFibra .Botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainFibra .EncabezadoFibra {
  background-color: rgb(196, 196, 196);
  padding: 25px;
}

.MainFibra .Botones button {
  width: 100%;
  max-width: 200px;
  color: white;
  margin: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainFibra .Botones button svg {
  margin-left: 5px;
}

.Marcas {
  background-color: rgb(196, 196, 196);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 5px solid var(--color-primario);
}

.Marcas button {
  width: 200px;
  margin: 0px 5px;
}

.MainHuawei {
  background-color: black;
  color: white;
  padding: 20px;
}

.MainHuawei .Enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.MainHuawei .Enlace input {
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 0px 7px;
}

.MainHuawei .Enlace button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainHuawei .Enlace button svg {
  margin-left: 5px;
}

.MainHuawei .Comandos {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
}

.MainHuawei .Comandos p {
  color: var(--rojo-claro);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.MainHuawei h3 {
  margin-top: "30px";
}

.MainHuawei h3 span {
  color: var(--rojo-claro);
}

.MainHuawei .Comandos code {
  margin: 5px 0px;
}

.MainHuawei .Comandos .IconsOpciones svg {
  margin: 0px 10px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.5s;
}

.MainHuawei .Comandos .IconsOpciones svg:hover {
  color: var(--rojo-claro);
}

.MainHuawei .Comandos .TitleComandos {
  margin-top: 30px;
  color: var(--rojo-claro);
}

.MainFibra .Comandos .Puertos {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainFibra .Comandos .Puertos div input {
  width: 100%;
  max-width: 50px;
  border-radius: 4px;
  padding: 12px;
  border: none;
  margin: 5px;
}

.MainFibra .Comandos .Puertos button {
  color: white;
}

.MainFibra .Comandos .Ips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainFibra .Comandos .Ips input {
  margin: 0px 7px;
  padding: 12px;
  border-radius: 4px;
  border: none;
  width: 200px;
}

.MainFibra .Comandos .Ips button {
  color: white;
  margin: 0px 5px;
}

.MainFibra .Comandos .ComandosIps {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.MainFibra .Comandos .ComandosIps div {
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  width: 48%;
}

.MainFibra .Comandos .ComandosIps code {
  display: block;
}

.MainFibra .Comandos .ComandosIps span {
  color: var(--rojo-claro);
}
