.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HomePage div code {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
