.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color: var(--gris-claro);
}

.NotFound img {
  width: 100%;
  max-width: 800px;
}

.NotFound a {
  background-color: var(--rojo-claro);
  padding: 10px 15px;
  border-radius: 3px;
}

.NotFound a:hover {
  background-color: var(--rojo-oscuro);
}
