.mainSupportTool {
  padding: 20px;
}

.mainSupportTool .options>div {
  width: 100%;
  padding: 20px;
  color: white;
  max-width: 1100px;
  margin: auto;
  background: rgb(3, 55, 85);
  border-radius: 0px 0px 4px 4px;
  display: flex;
}

.mainSupportTool .options .Box-Date {
  border-radius: 4px 4px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.mainSupportTool .options .Box-Date h3 {
  background-color: rgba(0, 0, 0, 0.164);
  padding: 5px;
  border-radius: 3px;
  user-select: none;
}

.mainSupportTool .options>div .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.mainSupportTool .options>div .buttons h2 {
  font-size: 19px;
}

.mainSupportTool .options>div .buttons button {
  width: 100%;
  color: white;
  margin: 7px 5px;
  padding: 15px !important;
  font-family: "Rubik", sans-serif;
}

.mainSupportTool .options>div .buttons button.selected::after {
  content: "||";
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);
}

.mainSupportTool .options>div .buttons button.selected::before {
  content: "||";
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
}

.mainSupportTool .options>div img.ImgAnimadaWork {
  width: 100%;
  max-width: 560px;
  margin: auto;
  display: block;
}

.mainSupportTool .selectedOption {
  background-color: white;
  margin: 3px auto;
  width: 100%;
  max-width: 1100px;
  border-radius: 4px;
}

.mainSupportTool .maincontainers {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainSupportTool .maincontainers .container {
  display: flex;
  margin: 10px 0px;
  width: 100%;
}

.mainSupportTool .mainHfc,
.mainFibraOptica {
  padding: 20px 5px;
}

.mainSupportTool .menuOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainSupportTool .menuOptions button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
}

.mainSupportTool .menuOptions button.selected {
  background-color: var(--rojo-claro);
}

.mainSupportTool .maincontainers .container .boxContainer {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(204, 204, 204);
  padding: 20px;
  background-color: var(--color-primario);
  color: white;
  margin: 5px;
}

.mainSupportTool .maincontainers .container .boxContainer div {
  background-color: rgb(245, 245, 245);
  margin: 5px 0px;
  padding: 5px;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  color: var(--color-primario);
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 100%;
}

.mainSupportTool .maincontainers .container .boxContainer div span {
  background-color: var(--rojo-claro);
  border-radius: 4px;
  padding: 4px;
  min-width: 45px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.mainSupportTool .MainP2p img {
  width: 100%;
  max-width: 500px;
}

.mainSupportTool .mainGpon {
  padding-top: 30px;
  background: #073953;
  margin: 20px 3px;
  overflow: hidden;
  border-radius: 4px;
}

.mainSupportTool .mainGpon h4 {
  color: white;
}

.mainSupportTool .mainGpon .equipmentBrands {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.mainSupportTool .mainGpon .equipmentBrands button {
  width: 200px;
  margin: 0px 5px;
}

.mainSupportTool .mainGpon .equipmentBrands button.selected {
  color: var(--azul-claro);
}

.mainSupportTool .equipmentBrandselected {
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  padding: 20px;
  margin-top: 10px;
}

.mainSupportTool .equipmentBrandselected .buttons {
  display: flex;
}

.mainSupportTool .equipmentBrandselected .buttons button {
  width: 100%;
  color: white;
  margin: 7px 5px;
  padding: 15px !important;
  font-family: "Rubik", sans-serif;
}

.mainSupportTool .equipmentBrandselected .buttons button.selected {
  filter: hue-rotate(144deg);
}

.mainSupportTool .equipmentBrandselected .enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  width: 100%;
}

.mainSupportTool .equipmentBrandselected .enlace button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSupportTool .equipmentBrandselected .enlace input {
  width: 100%;
  max-width: 282px;
}

.mainSupportTool .equipmentBrandselected .enlace button svg {
  margin-left: 5px;
}

.mainSupportTool .equipmentBrandselected .commands {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.mainSupportTool .equipmentBrandselected .commands p {
  color: var(--rojo-claro);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.mainSupportTool .equipmentBrandselected h3 {
  margin-top: 30px;
}

.mainSupportTool .equipmentBrandselected h3 span {
  color: var(--rojo-claro);
}

.mainSupportTool .equipmentBrandselected .commands code {
  margin: 5px 0px;
  cursor: pointer;
}

.mainSupportTool .equipmentBrandselected .commands code:hover {
  color: var(--azul-claro);
}

.mainSupportTool .equipmentBrandselected .commands .iconOptions svg {
  margin: 0px 10px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.5s;
}

.mainSupportTool .equipmentBrandselected .commands .iconOptions svg:hover {
  color: var(--rojo-claro);
}

.mainSupportTool .equipmentBrandselected .commands .commandsTitle {
  margin-top: 30px;
  color: var(--rojo-claro);
}

.mainSupportTool .mainFibraOptica .commands .Puertos {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSupportTool .mainFibraOptica .commands .Puertos .inpPuertos {
  display: flex;
}

.mainSupportTool .mainFibraOptica .commands .Puertos div input {
  max-width: 50px;
}

.mainSupportTool .mainFibraOptica .commands .Puertos button {
  color: white;
}

.mainSupportTool .mainFibraOptica .commands .Ips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSupportTool .mainFibraOptica .commands .Ips input {
  width: 100%;
  max-width: 282px;
}

.mainSupportTool .mainFibraOptica .commands .Ips button {
  color: white;
  margin: 0px 5px;
}

.mainSupportTool .mainFibraOptica .commands .commandsIps {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.mainSupportTool .mainFibraOptica .commands .commandsIps div {
  border: 1px solid white;
  padding: 10px;
  width: 48%;
}

.mainSupportTool .mainFibraOptica .commands .commandsIps div code {
  display: block;
}

.mainSupportTool .mainFibraOptica .commands .commandsIps div span {
  color: var(--rojo-claro);
}

.mainSupportTool .mainPlantillaMasiva {
  display: flex;
  justify-content: center;
}

.mainSupportTool .mainPlantillaMasiva form {
  width: 95%;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  margin: 20px 5px;
}

.mainSupportTool .mainPlantillaMasiva form input[type="submit"] {
  color: white;
  margin: 10px 0px;
  font-size: 15px;
  text-transform: uppercase;
}

.mainSupportTool .mainPlantillaMasiva form input[type="submit"]:hover {
  transform: scale(1);
}

.mainSupportTool .mainPlantillaMasiva form .Colx2 {
  margin: 3px 0px;
  border-radius: 3px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.mainSupportTool .mainPlantillaMasiva form .Colx2 div {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.mainSupportTool .mainPlantillaMasiva form .Colx2 div input {
  width: 100%;
  margin: 3px 0px;
}

.mainSupportTool .mainPlantillaMasiva form .Colx2 div label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: rubik, sans-serif;
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla>div {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla h5 {
  color: var(--azul-claro);
  background-color: var(--color-primario);
  padding: 10px;
  text-align: left;
  user-select: none;
  border-radius: 3px;
  width: 49%;
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla h5:hover {
  transform: scale(1.03);
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla h5>button {
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: transparent;
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla h5>button:hover {
  color: var(--rojo-claro);
}

.mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla .plantillaGenerada {
  background-color: var(--color-primario);
  color: white;
  margin: 20px 0px;
  border-radius: 4px;
  text-align: left;
  width: 95%;
}

.mainSupportTool .mainPlantillaHfc {
  width: 100%;
  background-color: var(--color-primario);
  margin: 30px auto;
  padding: 20px;
  border-radius: 4px;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp>div {
  display: flex;
  justify-content: space-between;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd{
  width: 97%;
  border: 1px solid var(--azul-claro);
  margin: auto;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainPlantillaHfc.Whatsapp input{
  display: flex;
  margin: auto;
}

.mainPlantillaHfc.Whatsapp h3 {
  color: white;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd form{
  width: 100%;
} 

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .BtnOpciones{
  display: flex;
  background-color: rgb(14, 58, 99);
  width: 100%;
  justify-content: space-evenly;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .Box-Lls{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .Box-Lls > textarea{
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 99%;
  min-height: 80px;
  margin: auto;
  resize: vertical;

  ::-webkit-scrollbar {
    display: none;
  }
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .BtnOpciones button{
  flex: 1;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd form h3{
  color: white;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .Campos{
  display: flex;
  flex: 1;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .Campos > input{
  flex: 1;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .Button{
  color: white;
}
.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .ResultadoPlantilla h2{
  color: white;
}
.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .ResultadoPlantilla h4{
  margin-top: 20px;
  color: var(--rojo-claro);
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .ResultadoPlantilla code{
  user-select: none;
  cursor: pointer;
  color: white;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd .ResultadoPlantilla code:hover{
  text-decoration: underline;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd h4{
  color: var(--azul-claro);
  user-select: none;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp > .InfoAdd p:hover{
  cursor: pointer;
  font-weight: bold;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp>div>.Plantilla {
  width: 100%;
  max-width: 48%;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 4px;
  overflow: hidden scroll;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp>div>.Plantilla::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainSupportTool .mainPlantillaHfc.Whatsapp>div>.Plantilla h4 {
  color: white;
  text-align: left;
}

.mainSupportTool .mainPlantillaHfc .Plantilla button {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px 0px;
  font-weight: bold;
  font-family: rubik, sans-serif;
  color: var(--azul-claro);
}

.mainSupportTool .mainPlantillaHfc .Plantilla button .icon {
  margin-right: 10px;
  color: var(--azul-claro);
  font-size: 19px;
}

.mainSupportTool .mainPlantillaHfc .Plantilla .templateDescription>p {
  color: white;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .mainSupportTool .menuOptions {
    flex-direction: column;
  }

  .mainSupportTool .options>div {
    flex-direction: column;
    align-items: center;
  }

  .mainSupportTool .container {
    flex-wrap: wrap;
  }

  .mainSupportTool .mainFibraOptica .commands {
    text-align: center;
  }

  .mainSupportTool .mainPlantillaMasiva form .Colx2 {
    flex-direction: column;
  }

  .mainSupportTool .mainFibraOptica .commands .commandsIps {
    flex-direction: column;
  }

  .mainSupportTool .mainFibraOptica .commands .commandsIps>div {
    width: 100%;
    margin: 5px 0px;
  }

  .mainSupportTool .mainPlantillaMasiva form .Colx2 div {
    width: 100%;
    margin: 5px 0px;
  }

  .mainSupportTool .maincontainers .container .boxContainer div {
    flex-direction: column;
    text-align: center;
    font-size: 12px;
  }

  .mainSupportTool .maincontainers .container .boxContainer div span {
    width: 100%;
  }

  .mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla>div {
    flex-direction: column;
  }

  .mainSupportTool .mainPlantillaMasiva .ResultadoPlantilla>div h5 {
    width: 100%;
  }
}