/* Variables globales */
:root {
  --color-primario: #092239;
  --rojo-claro: #d94848;
  --rojo-oscuro: #c34040;
  --azul-claro: #257bb9;
  --gris-claro: #f3f3f3;
  --gris-oscuro: #c7c7c7;
  --verde-claro: rgb(17, 161, 149);
}

/* Reset y estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primario);
}

li {
  list-style: none;
}

/* Tipografía */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

/* enlaces */
a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-family: Rubik, sans-serif;
}

/* Formularios */
input {
  padding: 12px;
  margin: 5px;
  border-radius: 3px;
  outline: none;
  font-weight: bold;
  border: none;
}

/* Párrafos */
p {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin: 10px 0;
  color: var(--color-primario);
}

/* buttons */
.Button {
  padding: 10px 15px !important;
  border-radius: 3px;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: 0.5s;
  border: none !important;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.Button:hover {
  transform: scale(1.03);
}

/* Colores específicos para buttons */
.Red {
  background-color: var(--rojo-claro);
}

.Red:hover {
  background-color: var(--rojo-oscuro);
}

.Green {
  background-color: var(--verde-claro);
}

.Blue {
  background-color: var(--azul-claro);
}

.Black {
  background-color: black;
  color: white;
}

/* Elementos específicos */
div#lottie {
  width: 100%;
  max-width: 700px;
}

/* Clase de ocultar */
.Hidde {
  display: none;
}

/* Media queries */
@media screen and (max-width: 777px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
  /* Ajustes adicionales para dispositivos móviles */
}
